@import "../Variables/Variables";
@import "../Mixins/Mixins";

#checkout-container {
    @include flex(auto, center, center);
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient( to bottom right, $dark-red, $dark-blue);
}