// Variables

$light-red: #c41319;
$dark-red: #920d0d;
$dark-blue: #040457;
$white: #fff;
$black: #313131;
$grey: #6f6f6f;
$font-family: 'Poppins', sans-serif;
$font-weight-thick: 500;
$font-weight-thin: 300;
$font-size: 16px;