// Variables

$light-green: #0aa89e4d;
$dark-green: #0AA89E;
$white: #fff;
$black: #313131;
$grey: #6f6f6f;
$font-family: 'Poppins', sans-serif;
$font-weight-thick: 500;
$font-weight-thin: 300;
$font-size: 15px;