.carousel-item {
    @include flex(column, center, center);
    min-height: calc(100vh - 125px);
    width: 100%;
    text-align: center;

    h1 {
        color: $white;
        font-size: 5rem;
        line-height: 5rem;
    }

    p {
        color: $grey;
        font-size: 1.5rem;
        margin: 1rem 0 2rem 0;
    }

    button {
        @include button();
        font-size: 2rem;

        &:hover {
            background-color: transparent;
            color: $light-red;
        }
    }
}

@media (max-width: 500px) {
    .carousel-item {
        h1 {
            font-size: 3rem;
            line-height: 3rem;
        }

        p {
            font-size: 1.5rem;
        }

        button {
            font-size: 1.5rem;
        }
    }
}