header {
  position: relative;
}
header #main-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
header #main-nav #main-nav-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header #main-nav #main-nav-container #main-nav-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
header #main-nav #main-nav-container #main-nav-left img {
  width: 125px;
  margin-right: 1rem;
}
header #main-nav #main-nav-container #main-nav-left #main-nav-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
header #main-nav #main-nav-container #main-nav-left #main-nav-links a {
  color: #888;
  margin-left: 1rem;
  transition-duration: 0.5s;
}
header #main-nav #main-nav-container #main-nav-left #main-nav-links a:hover {
  color: #c41319;
}
header #main-nav #main-nav-container #main-nav-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
header #main-nav #main-nav-container #main-nav-right button {
  background-color: #c41319;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition-duration: 0.5s;
  margin-left: 1rem;
}
header #main-nav #main-nav-container #main-nav-right button:hover {
  background-color: transparent;
  color: #c41319;
}
header #main-nav #main-nav-container #menu {
  display: none;
}

@media (max-width: 1000px) {
  header #main-nav #main-nav-container #main-nav-left #main-nav-links {
    display: none;
  }
  header #main-nav #main-nav-container #main-nav-right {
    display: none;
  }
  header #main-nav #main-nav-container #menu {
    color: #c41319;
    font-size: 1.25rem;
    cursor: pointer;
    display: block;
    transition-duration: 0.5s;
  }
  header #main-nav #main-nav-container #menu:hover {
    color: #040457;
  }
  header #side-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: auto;
    width: 100%;
    position: absolute;
  }
  header #side-nav #side-nav-container {
    display: flex;
    flex-direction: column;
    justify-content: auto;
    align-items: center;
    width: 80%;
    background-color: #040457;
    border-radius: 10px;
    padding: 1rem 2rem;
  }
  header #side-nav #side-nav-container #side-nav-top,
header #side-nav #side-nav-container #side-nav-bottom {
    display: flex;
    flex-direction: column;
    justify-content: auto;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
  }
  header #side-nav #side-nav-container #side-nav-top {
    border-bottom: solid 1px #888;
  }
  header #side-nav #side-nav-container a, header #side-nav #side-nav-container button {
    background-color: #c41319;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition-duration: 0.5s;
    background-color: transparent;
    color: #fff;
    margin: 0.25rem 0;
    padding: 0.5rem 1rem;
    text-align: center;
    transition-duration: 0.25s;
  }
  header #side-nav #side-nav-container a:hover, header #side-nav #side-nav-container button:hover {
    color: #920d0d;
  }
  header #side-nav #side-nav-container button {
    width: 100%;
    background-color: #c41319;
    transition-duration: 0.5s;
  }
  header #side-nav #side-nav-container button:hover {
    background-color: transparent;
  }
}/*# sourceMappingURL=Header.css.map */